<html>
<head>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
    
    <script type="text/javascript" src="/javascript/prototype.js"></script>    
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>    
    <style>
        body{
            background-image: url("img/fondo.jpg");
            background-repeat: no-repeat;
        }
        div.panel {
            height: 80%;
            width: 900px;
            border: 1px solid black;
        }
         .panel-body  {
            word-break:break-all
         }
        .prebody{
            height: 80%;
            width: 850px;
        }
     </style>    
        
    
    <script>
        var obj = "<%= comando %>";
        var req = function requerimiento()
            {
              
              var ajaxReq = "/"+obj;
              
              new Ajax.Request(ajaxReq, {
                  method: 'get',
                  onSuccess: success
              });

            }
            
            function success(response){
                var container = $('res');
                var content = response.responseText;
                container.update(content);
            }
        
            setInterval(req,500);    
            
            var update = function actualizarHora(){
                    var container = $('horaActual');
                    var hoy = new Date();
                    var dd = hoy.getDate();
                    var mm = hoy.getMonth()+1; //Enero es el mes 0
                    var yy = hoy.getFullYear();
                    var hh = hoy.getHours();
                    var min = hoy.getMinutes();
                        if (parseInt(min,10) < 10){
                        min = '0'+min;
                    }
                    var seg = hoy.getSeconds();
                    var fecha_hora = hh+":"+min+":"+seg+" - "+dd+"/"+mm+"/"+yy;
                    container.update(fecha_hora);
            }    
            
            setInterval(update,1000);
        
    </script>
    
    <title><%= title %></title>
    
</head>
    
    <nav class="navbar navbar-default navbar-static-top" style="background:#829bae">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" style="color:white;">Monitoreo del Linux Yocto / Intel Galileo
              </a>
          </div>
          <div class="collapse navbar-collapse" style="margin-top=10px;">
              <form class="navbar-form navbar-right" action="/topRender" method="get" >
                <button type="submit" class="btn btn-inverse">Ejecutar comando top</button>
              </form>
              <form class="navbar-form navbar-right" action="/whoRender" method="get" >
                <button type="submit" class="btn btn-inverse">Ejecutar comando who</button>
              </form>
              <form class="navbar-form navbar-right" action="/freeRender" method="get" >
                <button type="submit" class="btn btn-inverse">Ejecutar comando free</button>
              </form>
               <form class="navbar-form navbar-right" action="/comRender" method="get" >
                <button type="submit" class="btn btn-inverse">Ejecutar comandos</button>
              </form>
              <label class="navbar-brand" style="color:white;" id="horaActual"></label>
          </div>
      </div>
    </nav>
    
    <br>
    <br>
    <div class="container" align="center" >    
      <div id="panel" class="panel panel-primary" >
          <div class="panel-heading"><%= commandMessage %></div>
              <div class="panel-body">
                  <pre align="left" id ="res" class="prebody"></pre>
              </div>
      </div>
    </div>    
  
<body>
</body>    
</html>

